<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Сивков Сергей</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no"/>
    <link href="/fonts/stylesheet.css" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="fronts/clearsans.css"/>
  </head>
  <body>
    <header><img src=""/><a class="link_catalog" href="/">Каталог товаров</a>
      <h3>Авто и транспорт</h3>
      <form>
        <input type="text" placeholder="Поиск"/>
      </form>
      <div class="add_product"><a href="/"> <img src="add_product.jpg"/></a><a href="/"> <span>Добавить</span><span>объявление</span></a></div>
      <div class="sign_in"><a href="/"><img src="sign_in.jpg"/></a>
        <div class="links"><a href="/">Вход</a><a href="/">Регистрация </a></div>
      </div>
    </header>
    <div class="catalog">
      <div class="setting">
        <div class="orderby">
          <label>Сортировать по:</label>
          <select>
            <option>без сортировки</option>
            <option>Цене (Уб.)</option>
            <option>Цене (Воз.)</option>
          </select>
        </div>
        <div class="contrast"><span>Сравнение:</span><span class="count_contrast">100 cравнить</span></div>
        <div class="seller">
          <label>Продавец:</label>
          <select>
            <option>Любой</option>
            <option>Юр. лицо</option>
            <option>Физ. лицо</option>
          </select>
        </div>
        <div class="limit_product">
          <label>Показать по:</label>
          <select>
            <option>30</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
        <div class="type_catalog"><span> <img src=""/></span><span> <img src=""/></span></div>
      </div>
      <div class="content">
        <div class="products">
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__image"><a href="url"><img src="img.jpeg"/></a></div>
            <div class="product__info">
              <div class="product__name"><a href="url">
                  <h4>Название авто</h4></a></div>
              <div class="grid">
                <div class="texts"><span class="span__text">текст, текст, текст, текст, текст, текст, текст, текст, текст, текст текст, текст, текст, текст текст, текст текст, текст текст, текст,  </span>
                  <div class="spans__filters"> <span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span><span>фильтр: <span class="val">значние</span></span></div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price"><span>10 000 р.</span><span>10 000 $ 	</span></div><a href="url">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="paginator"><a href="">Назад</a><a href="">1</a><a href="">2</a><a href="">3</a><a class="active_page" href="">4</a><a href="">Вперёд</a></div>
        </div>
        <div class="filters">
          <form method="GET">
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <label>фильтр</label>
            <select name="key">
              <option value="value">Не выбрано</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
              <option value="value">value	</option>
            </select>
            <button>Показать</button>
          </form>
        </div>
      </div>
    </div>
    <footer><span>Много букв</span>
      <script src="http://code.jquery.com/jquery.min.js"></script>
      <script src="script.js"></script>
    </footer>
  </body>
</html>