
{% if elements.paginator.num_pages > 1 %}
  <div class="paginator" data-wow-delay="0.5s">
   
      {% if elements.has_previous %}
        <a href="{{elements.url}}?page={{elements.previous_page_number}}{{GET}}" class="m-left">
          Назад
        </a>
      {% endif %}
      
      {% for page in elements.paginator.page_range %}
      
        {% if elements.number == page %}
          <a class="active_page"> 
            {{ page }} 
          </a>
        {% else %}
            <a href="{{elements.url}}?page={{page}}{{GET}}"> 
              {{ page }} 
            </a>
        {% endif %}
        
      {% endfor %}
      
      {% if elements.has_next %}
        <a href="{{elements.url}}?page={{elements.next_page_number}}{{GET}}" class="m-right">
          Вперёд
        </a> 
      {% endif %}  
  </div>
{% endif %}