{% extends "learning_logs/base.html" %}
  <body class="m-listings" data-scrolling-animations="true" >

  {% block content %}

    

      <div class="breadcumps">
        <a> Марка </a> / <a> {{product.name }} </a>
      </div>
      <div class="product__self">

        <div class="left">
          <div class="price_name">
            <h1>{{product.name }}</h1><span> {{product.price }} руб. </span>
          </div>

          <img src="{{product.file.url}}"/>
          <div class="text">{{ product.text|linebreaks }}</div>
          
          <div class="comments">
            <h4> Коментарии </h4>
            {% for comment in comments %}
              <div class="comment"> 
                <a href = "/account/{{ comment.commenter.id}}"> 
                  {{ comment.commenter.username }} 
                </a>
                <span> {{ comment.text }} </span>
              </div>
            {% empty %}
              <div class="comment">
                <span> Данный товар ни кем не прокомментирован </span>
              </div>
            {% endfor %}
              <a class="add_comment" href = "{% url 'learning_logs:comment_product' product.id %}">
                Добавить комментарий
              </a>
            {% include "learning_logs/paginator.html" %}
          </div>
        </div>
        <div class="right">
          <div class="filters">
            <!--h3 Описание-->
            <div class="filters__left">
                <span> <span class = "vertical_char">|</span> Марка:</span>
                <span> <span class = "vertical_char">|</span> Модель:</span>
                <span> <span class = "vertical_char">|</span> Двигатель:</span>
                <span> <span class = "vertical_char">|</span> Топливо:</span>
                <span> <span class = "vertical_char">|</span> Марка:</span>
                <span> <span class = "vertical_char">|</span> Модель:</span>
                <span> <span class = "vertical_char">|</span> Двигатель:</span>
                <span> <span class = "vertical_char">|</span> Топливо:</span>
            </div>
            <div class="filters__right">
                <span> <span class = "vertical_char">|</span> {{ product.stats.brand }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_model }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_engine }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_drive }}</span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.brand }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_model }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_engine }} </span>
                <span> <span class = "vertical_char">|</span> {{ product.stats.type_drive }}</span>
            </div>
          </div>
          <div class="author">
            <a href = "/account/{{ product.owner.id}}">{{ product.owner.username }}</a>
            <a>Телефон +354 859 284 29 11</a>
            <a>Написать</a>
          </div>
        </div>
      </div>

{% endblock content %}