{% extends "learning_logs/base.html" %}
<body class="m-listings" data-scrolling-animations="true" >
  {% block header %}
  {% endblock header %}
  {% block content %}
    <div class="catalog">
      <div class="setting">
        <div class="orderby">
          <label>Сортировать по:</label>
          <select>
            <option>без сортировки</option>
            <option>Цене (Уб.)</option>
            <option>Цене (Воз.)</option>
          </select>
        </div>
        <div class="contrast"><span>Сравнение:</span>
          <span class="count_contrast"> <span class = "value_count_contrast"> 0 </span> cравнить</span>
        </div>
        <div class="seller">
          <label>Продавец:</label>
          <select>
            <option>Любой</option>
            <option>Юр. лицо</option>
            <option>Физ. лицо</option>
          </select>
        </div>
        <div class="limit_product">
          <label>Показать по:</label>
          <select>
            <option>30</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
        <div class="type_catalog">
          <span> 
            <img src=""/>
          </span>
          <span> 
            <img src=""/>
          </span>
        </div>
      </div>
      <div class="content">
        <div class="products">
          {% for  product in products %}        
          <div class="product">
            <div class="product__image">
              <a href="{% url 'learning_logs:product' product.id %}">
                <img src="{{ product.file.url }}" alt='Модель'/>
              </a>
            </div>
            <div class="product__info">
              <div class="product__name">
                <a href="{% url 'learning_logs:product' product.id %}">
                  <h4>{{ product.name }}</h4>
                </a>
              </div>
              <div class="grid">
                <div class="texts">
                  <span class="span__text">{{ product.text|truncatewords:38 }}</span>
                  <div class="spans__filters">
        
                      <span> Марка: 
                        <span class="val"> {{ product.stats.brand }} </span>
                      </span>

                      <span> Модель: 
                        <span class="val">{{ product.stats.type_model }}</span>
                      </span>

                      <span> Двигатель: 
                        <span class="val">{{ product.stats.type_engine }}</span>
                      </span>

                      <span> Топливо: 
                        <span class="val">{{ product.stats.type_drive }}</span>
                      </span>
         
                  </div>
                </div>
                <div class="product__parametr">
                  <!-- span год 2000 -->
                  <!-- span обмен -->
                  <!-- button в сравнение -->
                  <div class="price">
                    <span>{{ product.price }} руб.</span>
                    <span>{{ product.price }}  $ </span>
                </div>
                <a href="{% url 'learning_logs:product' product.id %}">подробнее</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% include "learning_logs/paginator.html" %}
        </div>
        <div class="filters">
          <form method="GET">
            {% for key, values  in filters.items %}
            <div class = "filters_list">
              <label class = "open-get-list"> {{ translate_filter|get_item:key }} </label>
              <ul class="my-select">
                  {% for value in values %} 
                  <li value="{{ value }}" selected=""> {{ value }} </li>
                  {% endfor %}
                <li value="" selected="" class = "get-active"> Не выбрано </li>
                <input class = "get-input" value="" type="hidden" name="{{ key }}">
              </ul>
              </div>
              {% endfor %}
            <button>Показать</button>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}