{% extends "learning_logs/base.html" %}

{% block content %}
	<p> Тема: {{ topic }} </p>
	<p> Сообщение:</p>
	<ul>
		{% for entry in entries %}
		<li>
			<p>{{ entry.data_added|date:'M d, Y H:i' }}</p>
			{{ entry.text|linebreaks }}
			<p>
	        	<a href="{% url 'learning_logs:edit_entry' entry.id %}">
	        	Редактировать сообщение
	        	</a>
	      	</p>
		</li>
		{% empty %}
		<li>
			Для данной темы нет записей
		</li>
		{% endfor %}
	</ul>
	<p>
	   	<a href="{% url 'learning_logs:new_entry' topic.id %}">
	   		Добавить новую тему
		</a>
	</p>
{% endblock content %}