body, html {
  margin: 0; }

a, button {
  cursor: pointer; }

img {
  max-width: 100%;
  max-height: 100%; }

button::-moz-focus-inner, option::-moz-focus-inner, select::-moz-focus-inner {
  border: 0; }

select {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', 'PT Sans', "HelveticaNeueCyr", Arial, Helvetica, sans-serif;
  outline: 0 !important; }
  *:active {
    outline: 0 !important; }
  *:focus {
    outline: 0 !important; }
a {
    color: #000;
    text-decoration: none;
}
a:hover
{
  color: #000;
  text-decoration: none;
}
a:focus
{
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url("HelveticaNeueCyr-Thin.eot");
  src: url("HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("HelveticaNeueCyr-Thin.woff") format("woff"), url("HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.price_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
.price_name span
{
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #de483d;
}
.content {
  width: 1170px;
  margin: 0 auto; }
  .content .product__self {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%; }
    .content .product__self .left img {
      width: 600px;
      height: 450px; }
    .content .product__self .left .comments {
      text-align: right; }
      .content .product__self .left .comments .add_comment {
        background-color: #de483d;
        font-size: 1.5em;
        color: white; 
        display: inline-block;
        padding: 10px;
        margin-top: 20px;

      }
      .content .product__self .left .comments .comment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        text-align: left; 
        border: 1px solid #aaa;
        }
        .content .product__self .left .comments .comment a {
          width: 100%;
          background-color: #de483d; 
          padding: 5px 10px;
          
          color: white;
      }
        .content .product__self .left .comments .comment span {
          background-color: #FaFaFa;
          width: 100%;
          padding: 10px;
          color: black;}
    .content .product__self .right .filters {
      display: flex; 
    justify-content: space-between;}
      .content .product__self .right .filters .filters__left {
        }
      .content .product__self .right .filters div {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; }
    .content .product__self .right .author {
      display: flex;
      flex-direction: column;
      font-size: 1.5em; }
      .content .product__self .right .author a {
        cursor: pointer;
        background-color: #AAA;
        padding: 10px;
        font-size: 0.8em; }
        .content .product__self .right .author a:first-child {
          background-color: #777; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px; }
  header .link_catalog {
    background-color: #F44;
    color: white;
    font-size: 1.2em;
    padding: 8px; }
  header form input {
    padding: 1px;
    font-size: 1.4em; }
  header .add_product a {
    display: inline-block; }
    header .add_product a span {
      display: block; }
  header .sign_in .links {
    display: inline-block; }
    header .sign_in .links a {
      display: block; }

.catalog .setting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: #f1f1f1;
  margin-bottom: 30px; }
  .catalog .setting select {
    border-radius: 30px;
    padding: 7px 14px; }
  .catalog .setting .contrast .count_contrast,  .catalog .setting .contrast .value_count_contrast{
    padding: 7px 14px;
    background-color: #555;
    border-radius: 30px;
    color: #ff5e4f;
    margin-left: 10px; }
.catalog .setting .contrast .value_count_contrast
{
  padding: 0;
  margin-left: 0px;
}
.catalog .content {
  width: 1170px;
  margin: 0 auto; }
  .catalog .content .products {
    width: 78%;
    display: inline-block;
    font-size: 1.2em; }
    .catalog .content .products .product {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      width: calc(100% - 60px);
      border-bottom: 1px solid #aaa;
      border-right: 1px solid #aaa;
      border: 1px solid #aaa;
      padding: 20px; }
      .catalog .content .products .product:hover {
        box-shadow: 0 0 3px 2px #aaa; }
      .catalog .content .products .product .product__image {
        width: 250px; 
      }
      .catalog .content .products .product .product__image img
      {
        height: 170px;
      }
        
        .catalog .content .products .product .product__image a {
          display: inline-block; }
        .catalog .content .products .product .product__image:hover {
          transition: transform 0.6s ease-out;
          transform: scale(0.95); }
      .catalog .content .products .product .product__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 6px;
        width: calc(100% - 260px); }
        .catalog .content .products .product .product__info .product__name {
          color: #FFF;
          border-bottom: 1px solid #B4B4B4; }
          .catalog .content .products .product .product__info .product__name::after {
            background: url(/chevron-down.png) center no-repeat;
            width: 15px;
            height: 7px;
            content: '';
            display: block;
            position: relative;
            left: 5%;
            top: 6px; }
          .catalog .content .products .product .product__info .product__name a h4 {
            text-transform: uppercase; }
            .catalog .content .products .product .product__info .product__name a h4:hover {
              text-transform: lowercase; }
        .catalog .content .products .product .product__info .grid {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          height: 100px; }
          .catalog .content .products .product .product__info .grid .texts {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(100% - 150px); }
            .catalog .content .products .product .product__info .grid .texts span {
              display: block; }
            .catalog .content .products .product .product__info .grid .texts .span__text {
              font-size: 0.66em; }
            .catalog .content .products .product .product__info .grid .texts .span__text, .catalog .content .products .product .product__info .grid .texts .spans__filters .val {
              color: rgba(0, 0, 0, 0.5); }
            .catalog .content .products .product .product__info .grid .texts .spans__filters {
              font-size: 0.62em; }
              .catalog .content .products .product .product__info .grid .texts .spans__filters span {
                width: 49%;
                display: inline-block;
                margin-top: 3px; }
          .catalog .content .products .product .product__info .grid .product__parametr {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 150px;
            justify-content: space-between;
            font-weight: bold; }
            .catalog .content .products .product .product__info .grid .product__parametr button {
              background: none;
              border: none;
              background-color: black;
              color: white;
              font-size: 0.78em;
              padding: 2px 10px;
              cursor: pointer; }
              .catalog .content .products .product .product__info .grid .product__parametr button:hover {
                background-color: white;
                color: black;
                border: 1px solid black; }
            .catalog .content .products .product .product__info .grid .product__parametr .price span {
              color: #de483d;
              display: block;
              font-size: 0.8em;
              font-weight: 700; }
            .catalog .content .products .product .product__info .grid .product__parametr .price span:first-child {
              font-size: 1.4em;
              margin-right: 10px; }
            .catalog .content .products .product .product__info .grid .product__parametr a {
              font-weight: 500;
              border: 1px solid #333;
              border-radius: 30px;
              padding: 5px 10px;
              font-size: 0.8em; }
              .catalog .content .products .product .product__info .grid .product__parametr a:hover {
                background-color: #de483d;
                color: white; 
                border: 1px solid #de483d;
              }

    .paginator {
      display: flex;
      justify-content: center;
      margin-top: 50px; }
      .paginator a {
        padding: 10px 20px;
        color: #444; }
        .paginator a:hover {
          border: 1px solid black; }
      .paginator .active_page {
        background-color: #F00;
        color: white; }
  .catalog .content .filters {
    width: 20%;
    display: inline-block;
    background-color: #555555;
    float: right;
    padding: 30px 10px;
    font-size: 1.2em; }
    .catalog .content .filters form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch; }
      .catalog .content .filters form button {
        align-self: center;
        padding: 10px 50px;
        font-size: 1.5em;
        background: none;
        background-color: #333;
        border: none;
        color: white;
        cursor: pointer;
        box-shadow: 0 4px #111, 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0px rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.5); }
        .catalog .content .filters form button:hover {
          background-color: #222;
          box-shadow: 0 4px #000, 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0px rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.5); }
        .catalog .content .filters form button:active {
          box-shadow: 0 1px #000, 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 0px rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.5); }
      .catalog .content .filters form label {
        color: white; }
      .catalog .content .filters form select {
        background-color: #4C4C4C;
        border: none;
        padding: 10px 5px;
        margin: 10px 0;
        color: white;
        font-size: 1.3em; }
        .catalog .content .filters form select option {
          background-color: #4C4C4C;
          color: white;
          outline: none; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #333;
  width: 100%;
  margin-top: 100px;
  padding: 25px 0 0px; }
  footer p, footer a, footer span {
    color: white;
    display: block; }
  footer .stupid .stupid-text {
    background-color: #2D2D2D;
    padding: 10px;
    margin: 5px 0; }
    footer .stupid .stupid-text img {
      height: 30px; }
    footer .stupid .stupid-text p {
      display: inline-block; }
  footer .dis_project {
    width: 25%;
    line-height: 1.2em;
    font-size: 1.1em;
    background-color: #1F1F1F;
    padding: 20px;
    position: relative;
    top: -50px; }
  footer h4 {
    color: #de483d;
    font-size: 1.5em;
    line-height: 2em;
    text-transform: uppercase; }
  footer .contact a {
    font-size: 1.2em;
    line-height: 2em; }

.vertical_char
{
  color: #de483d;
  font-size: 1.5em;
  font-weight: bold;
}
.content .product__self .right
{
  width: 25%;
}

.breadcumps
{
  border-top: 1px solid #aaa;
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.content .product__self .text
{
  padding: 15px 0 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #aaa;
}

.content .product__self .left .comments h4 {
  text-align: left;
}

.content .product__self .left
{
  width: 600px;
}

.filters_list li
{
  color: white;
  list-style-type: none;
  border-bottom: 1px solid #aaa;
  display: none;
  cursor: pointer;
  
}
.filters_list label
{
  cursor: pointer;
}
.filters_list .get-active
{
  display: block;
  color: #de483d;

}